APP_NAME="Ul Pokhiliuk"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

DB_CONNECTION=pgsql
DB_HOST=database
DB_PORT=5432
DB_DATABASE=ul_pokhiliuk
DB_USERNAME=laravel
DB_PASSWORD=pass

QUEUE_CONNECTION=rabbitmq
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_VHOST=/
RABBITMQ_LOGIN=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_QUEUE=default

SESSION_DRIVER=database
SESSION_LIFETIME=120

CACHE_STORE=redis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

TEST_USER_EMAIL="test@test.ru"
TEST_USER_PASSWORD="pass"

NOTIFICATIONS_MOCK_SUCCESS_RATE_EMAIL=0.5
NOTIFICATIONS_MOCK_SUCCESS_RATE_SMS=0.5

WEBHOOK_DELIVERY_TOKENS=prod-token-abc123,test-token-def456